/* The below is the set-up for all html files: */

html {
  background-color:#d9cbb6;
  font-family: 'DM Sans', sans-serif;
}

/* The below is the set-up for all html files' navbar: */
nav {
  background: #A865C9;
  text-align: center;
  background-size: cover;
  margin: .5vw 0vw 1vw 0vw;
  box-shadow: 1vw 1vw #311432;
}

.navBar {
  display: inline-flex;
  text-align: center;
  margin: 2vw 3vw 2vw 0vw;
  padding: 1vw 3vw 1vw 3vw;
  color: #311432;
  font-size: 1.7vw;
  font-family: 'DM Sans', sans-serif;
}

.dropdown {
  height: 7vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.drop {
  position: relative;
}

.dropUl{
  position:absolute;
  margin-top: 2.5vw;
  padding: 1vw 2vw 0vw 3vw;
  width: 12vw;
  height: 8vw;
  flex-direction: column;
  list-style:none;
  color: black;
  border-radius: 1.7vw;
  background: #A865C9;
  display:none;
}

.drop:hover {
  color: #F5F5F5;
}

.drop:hover > .dropUl{
  display:flex;
  align-items: left;
}

.dropLi {
  text-align: left;
}

/* The below is the set-up for all html files' headers: */
h2 {
  margin: 1vw 1vw 1vw 1vw;
  font-size: 2.7vw;
  color: #F5F5F5;
  text-align: center;
  justify-content: center;
  text-shadow: .5vw .5vw black;
  padding: 5vw 5vw 5vw 7vw;
}

.header {
  flex-grow: inherit;
  text-align: center;
  margin: 1vw 7vw 2vw 7vw;
  padding: 5vw 5vw 2vw 5vw;
}

h1 {
  margin: auto;
  color: #311432;
  font-size: 5.5vw;
  font-family: 'DM Sans', sans-serif;
  text-shadow: .5vw  .1vw #A865C9;
}

#headerObject {
  padding: .5vw;
  flex-grow: inherit;
  font-size: 2.7vw;
  background: #999999;
  font-family: 'DM Sans', sans-serif;
  color: #F5F5F5;
  box-shadow: 1vw 1vw #311432;
}

object{
  object-position: center;
}

/* The below is the set-up for the h3 and form on the contact page: */
h3, .submit {
  font-size: 1.7vw;
  font-family: 'DM Sans', sans-serif;
  color: #311432;
  text-align: center;
}

h3 {
  margin: -3vw 22vw 0vw 18vw;
}

.contactForm {
  display: flex;
  margin: 0vw 11vw;
  width:70vw;
}

.formClass {
  display: flex;
  margin: 2vw 13vw;
  color: #311432;
  font-size: 1.7vw;
  font-family: 'DM Sans', sans-serif;
}

.upperForm {
  display: flex;
  column: 1.7;
  margin-bottom: 1vw;
}

.nameInput{
  width:33.2vw;
  height:2vw;
  font-size: 1.7vw;
  margin-right: 2vw;
}

#comment {
  width:70vw;
  height:8vw;
  font-size: 1.7vw;
  font-family: 'DM Sans', sans-serif;
}

/* The below is the set-up of the center rows and image buttons for the index, game and project pages: */
.first_row {
  column-count: 3;
  margin: 1vw 2vw 1vw 2vw;
}

.first_in_row {
  flex: 1;
  width: 26vw;
  height: 18vw;
  background-color:#FFFFFF;
  background-image: url(images/GameSpace.png);
  flex-grow: inherit;
  background-size:cover;
  box-shadow: 1vw 1vw #999999;
  margin: 0vw 1vw 1vw 2vw;
  padding-top: .8vw;
}

.first_in_row:hover {
  background-image: url(images/GameSpaceInverted.png);
  background-size: cover;
}

.second_in_row {
  flex: 2;
  width: 26vw;
  height: 18vw;
  background-image: url(images/OtherProjects.png);
  flex-grow: inherit;
  background-size: cover;
  box-shadow: 1vw 1vw #311432;
  margin: 1vw 1vw 1.2vw 1vw;
  padding-top: .5vw;
}

.second_in_row:hover {
  background-image: url(images/OtherProjectsInverted.png);
  background-size: cover;
}

.third_in_row {
  width: 26vw;
  height: 17.5vw;
  flex: 3;
  background-image: url(images/Comments.png);
  background-size: cover;
  flex-grow: inherit;
  box-shadow: 1vw 1vw #999999;
  margin: 1vw 9vw 1vw 0vw;
  padding-bottom: 1.2vw;
}

.third_in_row:hover {
  background-image: url(images/CommentsInverted.png);
  background-size: cover;
}

/* The below is the set-up for all html files' navbar and footer: */
li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #311432;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.7vw;
}

a:hover {
  color: #F5F5F5;
}

/* The below is the set-up for all html files' footer: */
.foot {
  display: inline;
  padding: 1vw 3vw 1vw 1vw;
  margin: .5vw 4vw .5vw 4vw;
}

footer {
  align-self: flex-end;
  text-align: center;
  background-size: cover;
  background: #A865C9;
  margin: 1vw 0vw 0vw 0vw;
  padding: .5vw 3vw .5vw 4vw;
  box-shadow: 1vw 1vw #311432;
}

/* The below is the set-up for all html files' smaller device views: */
@media (max-width: 500px) {
  .first_row {
   column-count: 1;
  }
  .first_in_row, .second_in_row, .third_in_row {
    width: 70vw;
    height: 40vw;
    margin: 5vw 10vw 5vw 10vw;

  }
  a, .navBar {
    font-size: 4vw;
  }
  h2, #headerObject {
     font-size: 6vw;
  }
  h2{
    padding: 12vw 18vw 0vw 18vw;
  }
  h1{
   font-size: 8vw;
  }
  nav {
    margin: 0vw 0vw;
    padding: 3vw 0vw 3vw 0vw;
    width: 100%;
    position: sticky;
    top: 0;
  }
  footer {
    margin: .5vw .5vw;
    padding: .2vw 0vw .2vw 0vw;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  .foot {
    align-items: center;
    margin: .5vw .5vw;
    padding: .2vw 5vw .2vw 3vw;
  }
}
