html {
  background-color:#d9cbb6;
  font-family: 'DM Sans', sans-serif;
}

nav {
  background: #A865C9;
  text-align: center;
  background-size: cover;
  margin: 2vw 0vw 2vw 0vw;
}

.navBar {
  display: inline-flex;
  text-align: center;
  margin: 1vw 3vw 2vw 0vw;
  padding: 1.5vw 3vw 1vw 3vw;
  color: #311432;
  font-size: 2.5vw;
  font-family: 'DM Sans', sans-serif;
}

.dropdown {
  height: 7vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.drop {
  position: relative;
}


.dropUl{
  position:absolute;
  margin-top: 3vw;
  width: 15vw;
  height: 10vw;
  flex-direction: column;
  list-style:none;
  color: black;
  border-radius: 2vw;
  background: #A865C9;
  display:none;
}

.drop:hover {
  color: #F5F5F5;
}

.drop:hover > .dropUl{
  display:flex;
  justify-content: space-around;
  align-items: left;
}

.dropLi {
  text-align: left;
}


h2 {
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 5vw 1vw 5vw;
  font-size: 3.5vw;
  color: #F5F5F5;
  text-align: center;
  justify-content: center;
  text-shadow: .5vw .5vw black;
  padding: 5vw 5vw 5vw 6vw;
}

.header {
  flex-grow: inherit;
  text-align: center;
  margin: 1vw 7vw 2vw 7vw;
  padding: 5vw 5vw 5vw 5vw;
}

h1 {
  margin: auto;
  color: #311432;
  font-size: 6vw;
  font-family: 'DM Sans', sans-serif;
  text-shadow: .5vw  .1vw #A865C9;
}

#headerObject {
  padding: .5vw;
  flex-grow: inherit;
  font-size: 3vw;
  background: #999999;
  font-family: 'DM Sans', sans-serif;
  color: #F5F5F5;
  box-shadow: 1vw 1vw #311432;
}

object{
  object-position: center;
}

.first_row {
  column-count: 3;
  margin: 1vw 2vw 2vw 2vw;
}


.first_in_row {
  flex: 1;
  width: 29vw;
  height: 20vw;
  background-color:#FFFFFF;
  background-image: url(images/GameSpace.png);
  flex-grow: inherit;
  background-size:cover;
  box-shadow: 1vw 1vw #999999;
  margin: 0vw 1vw 1vw 0vw;
  padding-top: .8vw;
}

.first_in_row:hover {
  background-image: url(images/GameSpaceInverted.png);
  background-size: cover;
}

.second_in_row {
  flex: 2;
  width: 29vw;
  height: 20vw;
  background-image: url(images/OtherProjects.png);
  flex-grow: inherit;
  background-size: cover;
  box-shadow: 1vw 1vw #311432;
  margin: 1vw 1vw 1.2vw 0vw;
  padding-top: .5vw;
}

.second_in_row:hover {
  background-image: url(images/OtherProjectsInverted.png);
  background-size: cover;
}

.third_in_row {
  width: 30vw;
  height: 19.5vw;
  flex: 3;
  background-image: url(images/Comments.png);
  background-size: cover;
  flex-grow: inherit;
  box-shadow: 1vw 1vw #999999;
  margin: 1vw 14vw 1vw 0vw;
  padding-bottom: 1.2vw;
}

.third_in_row:hover {
  background-image: url(images/CommentsInverted.png);
  background-size: cover;
}


li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}


a {
  text-decoration: none;
  color: #311432;
  font-family: 'DM Sans', sans-serif;
  font-size: 2.5vw;
}

.foot {
  display: inline;
  padding: 1vw 5vw 1vw 1vw;
  text-align: center;
}

footer {
  align-self: flex-end;
  text-align: center;
  background-size: cover;
  background: #A865C9;
  background-size: cover;
  margin: 3vw 0vw 1vw 0vw;
  padding: .5vw
  }
